<script>
$( document ).ready(function() {
  var i = 1

  $("#button_text").click(function() {
    console.log(i);
    $("#layout_form")
      .append('<div class="field"><label for="contents__text">Text</label><br><input type="text" name="contents[][text]" id="contents__text"><input value="<%=params[:project_id]%>" type="hidden" name="contents[][project_id]" id="contents__project_id"><input value="<%=params[:id]%>" type="hidden" name="contents[][page_id]" id="contents__page_id"></div>');
    i = i + 1 ;
  });
});


</script>

<form action="/contents" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="8SELy1V+PrKQqOHwxI5RIWpRm43rW83ChLvqd7noJbLkR9kCk4cxq45l41QMuJnPY9axQIFtgsQ7Hs7dT77+hQ==">
    <button type="button" id="button_text">Aggiungi un text</button>
    <div id="layout_form">
      <div class="field">
        <label for="contents__text">Text</label><br>
        <input type="text" name="contents[][text]" id="contents__text">
        <input value="<%=params[:project_id]%>" type="hidden" name="contents[][project_id]" id="contents__project_id">
        <input value="<%=params[:id]%>" type="hidden" name="contents[][page_id]" id="contents__page_id">
      </div>
    </div>

  <div class="actions">
    <input type="submit" name="commit" value="Save changes">
  </div>
</form>
