<link href="/css/insert_content.css" rel="stylesheet">

<script src="/js/insert_content.js"></script>


<form class="new_content" id="new_content" enctype="multipart/form-data" action="/contents" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="✓">
  <input type="hidden" name="authenticity_token" value="8SELy1V+PrKQqOHwxI5RIWpRm43rW83ChLvqd7noJbLkR9kCk4cxq45l41QMuJnPY9axQIFtgsQ7Hs7dT77+hQ==">
    <div id="layout_form">
    </div>
    <div id="zone_insert" onclick="open_pannel_content()">
    </div>
    <div id="line">
      <img class="goccia" src="/images/goccia.png" style="width:60px">
    </div>
    <div id="pannel_button_content">
      <div class="icon_content text" onclick="add_text_content()"><img src="/images/icon_text.png" style="width:32px"></div>
      <div class="icon_content one_photo"><img src="/images/icon_one_photo.png" style="width:32px"></div>
      <div class="icon_content two_photo"><img src="/images/icon_two_photo.png" style="width:32px"></div>
      <div class="icon_content three_photo"><img src="/images/icon_three_photo.png" style="width:32px"></div>
      <div class="icon_content yt"><img src="/images/icon_yt.png" style="width:32px"></div>
      <div class="icon_content close_x" onclick="close_pannel_content()"><img src="/images/icon_close.png" style="width:32px"></div>
    </div>

<!--
    <button type="button" id="button_text">Aggiungi un text</button>
    <button type="button" id="button_photo">Aggiungi una foto</button>
-->
  <br>

  <div class="actions">
    <input type="submit" name="commit" value="Save changes">
  </div>
</form>
