<div id="work" class="page">
	<div class="container">

    <h1>Inserisci elementi nella pagina</h1>

    <%= render 'form' %>


      <!-- End Portfolio Projects -->
  </div>
</div>
<!-- End Our Projects-->
