<!-- About Section -->
<div id="about" class="page-alternate">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title mobile_log">Chi sono (o provo a essere)</h2>
            </div>
        </div>
    </div>
    <!-- End Title Page -->

    <!-- People -->
    <div class="row">

        <!-- Start Profile -->
      <div class="profile">
        <h3 class="profile-name mobile_log">Alberto Riva</h3>
        <div class="contenti_image_profile">
          <img class="item-thumbs span3 3d isotope-item" src="/images/profile/profile-01.jpg" alt="zalbo"></div>
          <div class="profile-description mobile_log">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ac augue at erat <a href="#">hendrerit dictum</a>.
            Praesent porta, purus eget sagittis imperdiet, nulla mi ullamcorper metus, id hendrerit metus diam vitae est. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
          </div>
        </div>
        <!-- End Profile -->
    </div>
    <!-- End People -->
</div>
</div>
<!-- End About Section -->


<!-- Contact Section -->
<div id="contact" class="page">
<div class="container">
    <!-- Title Page -->
    <div class="row">
        <div class="span12">
            <div class="title-page">
                <h2 class="title">Contattami</h2>
                <h3 class="title-description"></h3>
            </div>
        </div>
    </div>
    <!-- End Title Page -->

<!-- Socialize -->
<div id="social-area" class="page">
  <div class="container">
      <div class="row">
            <div class="span12">
                <nav id="social">
                    <ul>
                        <li><a href="mailto:alberto.riva87@gmail.com" title="Email" target="_blank"><span class="font-icon-email_2"></span></a></li>
                        <li><a href="https://www.facebook.com/Albonemesi" title="Facebook" target="_blank"><span class="font-icon-social-facebook"></span></a></li>
                        <li><a href="https://www.linkedin.com/in/alberto-riva-768b6145?trk=hp-identity-name" title="Linkedin" target="_blank"><span class="font-icon-social-linkedin"></span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- End Socialize -->

<!-- Footer -->
<!-- End Footer -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
  <i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->


</body>
</html>
