input[type="submit"] {
    position: relative !important;
    top: -5px !important;
    left: 15px;
    height: 31px;
}

.one_photo {
    padding-bottom: 60px;
    padding-top: 60px;
    text-align: center;
    background: rgb(66, 70, 78);
}

h3.content_text {
    font-size: smaller;
    margin: 0px;
    color: black;
    font-style: inherit;
    background: rgb(66, 70, 78);
}

.pages {
  width: 60%;
  padding-left: 20%;
  padding-right: 20%;
}

form.button_to {
    display: block;
    padding-top: 21px;
    text-align: center;
}

textarea#content_text{
    width: 687px;
}
