#zone_insert{
  height: 60px;
  position: relative;
  width: 108%;
  left: -50px;
  z-index: 3;
}

#line {
  position: relative;
  height: 5px;
  background-color: rgb(222, 94, 96);
  top: -30px;
  display: none;
}

.goccia {
    position: relative;
    top: -15px;
    left: -30px;

}

#pannel_button_content {
  height: 60px;
  width: 400px;
  background-color: rgb(222, 94, 96);
  position: relative;
  top: -33px;
  float: right;
  display: none;
}

.icon_content{
  padding: 14px;
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.icon_content:hover {
  filter: alpha(opacity=50);
  opacity: 0.1;
  cursor:cell;
}

.icon_content {
    margin: auto;
    display: inline-block;
}

.close_x {
  background-color: #AA5555;
  float: right;
  cursor:pointer !important;
}

textarea.contents__text {
    width:1100PX;
}

.drop-zone {
  width: 95%;
  height: 350px;
  border-color: white;
  border: 4px;
  border-style: dashed;
  border-radius: 25px;
  margin-top: 10px;

}



.thumb_drag {
  position: absolute;

  height: 349px;
  padding-left: 23%;
}


input.input_drag {
    position: relative;
    top: 155px;
    left: 42%;
}


p.text_drop {
    text-align: center;
    position: relative;
    top: 45%;
}
