.overlay {
  opacity: 0 !important;
}

#supersized{
  display: none !important;
}

body {
  background: white !important;
}

#nextsection {
  display: none !important;
}

.slider-title {
  color: white;
  font-size: -webkit-xxx-large;
  top: 50%;
  position: relative;
  bottom: 50%;
}

.pages{
  position: absolute;
  left: 20%;
  right: 20%;
}

h1 {
    font-size: 38px;
    color: black;
}

hr.pages {
  margin: 0;
  position: absolute;
  border-style: groove;
  border-width: 1px;
  left: -305px;
  right: -33%;
  border-color: rgba(0, 0, 0, 0.16);
}

h3.content_text {
    font-size: smaller;
    margin: 0;
    color: black;
    font-style: inherit;
}
