.overlay {
  opacity: 0 !important;
}

#supersized{
  display: none !important;
}

body {
  background: white !important;
}

#nextsection {
  display: none !important;
}

.slider-title {
  color: white;
  font-size: -webkit-xxx-large;
  top: 50%;
  position: relative;
  bottom: 50%;
}

.pages {
    width: 60%;
    padding-left: 20%;
    padding-right: 20%;
}

h1 {
    font-size: 38px;
    color: black;
    margin: 0 ;
}



h3.content_text {
    font-size: smaller;
    margin: 0px 0 47px 0;
    color: black;
    font-style: inherit;
}

.date {
    color: #bfbfbf !important;
    margin-top: 44px !important;
    margin-bottom: 0px !important;
}

.label_category {
  background-color: #DE5E60;
  height: 34px;
  width: 110px;
  margin-top: 42px;
  margin-left: 20%;
}

p.into_label {
    color: white;
    font-size: medium;
    text-align: center;
    position: relative;
    padding-top: 4px;
    margin: 0;
}

.divisor_title {
    height: 5px;
    background-color: #DE5E60;
    width: 59px;
    margin-bottom: 54px;
}

.divisor_page {
    background-color: #BFBFC1;
    width: 100%;
    height: 3px;
}

.one_photo {
    padding-bottom: 60px;
    text-align: center;
}

.btn_edit_project {
    margin-left: 20%;
    margin-top: 15px;
}
