
<p>
  <strong>Title:</strong>
  <%= @page.title %>
</p>

<% @contents.each do |content|%>
  <% if defined? content.present_image == method  #if without image%>
    <%= content.text%> <br>
  <%else %>
    <%= image_tag(content.upload_photo.url(:thumb)) %> <br>
  <% end %>
<% end %>
