


<!-- Our Projects -->
<div id="work" class="page">
	<div class="container"
    	<!-- Title Page -->
        <div class="row">
            <div class="span12">
                <div class="title-page">
                    <h2 class="title">Progetti</h2>
                </div>
            </div>
        </div>
        <!-- End Title Page -->

        <!-- Portfolio Projects -->
        <div class="row">
        	<div class="span3">
            	<!-- Filter -->
                <nav id="options" class="work-nav">
                    <ul id="filters" class="option-set" data-option-key="filter">
                    	<li class="type-work">Category</li>
                        <li><a href="f" data-option-value="*" class="selected">Tutti i Progetti</a></li>
                        <li><a href="#filter" data-option-value=".3d">3dPrinter</a></li>
                        <li><a href="#filter" data-option-value=".design">Design</a></li>
                        <li><a href="#filter" data-option-value=".audio">Audio</a></li>
                        <li><a href="#filter" data-option-value=".elettronica">Elettronica</a></li>
                    </ul>
                </nav>
                <!-- End Filter -->
            </div>

            <div class="span9">
            	<div class="row">
                	<section id="projects">
                    	<ul id="thumbs">
												<%@projects.each do |project|%>
													<!-- Item Project and Filter Name -->
                        	<li class="item-thumbs span3 <%= 	project.category%>">
                        		<!-- Fancybox - Gallery Enabled - Title - Full Image -->
                        		<a class="hover-wrap fancybox" data-fancybox-group="gallery" title="The City" href="/images/images/work/full/image-01-full.jpg">
                        		<span class="overlay-img"></span>
                          	<span class="overlay-img-thumb"><%=project.title%></span>
                          	</a>
                          	<!-- Thumb Image and Description -->
                          	<img src=<%=Image.find(project.default_photo).uplaod_photo.url(:medium) %> alt="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis elementum odio. Curabitur pellentesque, dolor vel pharetra mollis.">
                        	</li>
                      		<!-- End Item Project -->
												<%end%>
                      </ul>
                    </section>

            	</div>
            </div>
        </div>
        <!-- End Portfolio Projects -->
    </div>
</div>
<!-- End Our Projects-->
