<div id="work" class="page">
	<div class="container">

    <h1>Nuovo Progetto</h1>

    <%= render 'form' %>

    <%= link_to 'Back', projects_path %>

      <!-- End Portfolio Projects -->
  </div>
</div>
<!-- End Our Projects-->
